page-location-question {

}

.btn_question button
{
    background: #f68b21;
    background-size: 100% 100%;
    min-height: 40px;
    width: 95%;
    border-radius: 10px;
    padding: 20px;
    margin: 5px 0;
    //padding: 10px 0;
    color: #000000;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
}