<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main">
    <div class="content">
      <div class="input_div">
        <div class="button_div" *ngIf="USER">
          <div class="div_avatar">
            <div *ngIf="!hasNewAvatar">
              <div (click)="takePhoto()">
                <img src="{{USER.U_AVATAR}}" alt="" class="img"
                  onError="this.src='../../assets/imgs/imagenotavailable.png';">
              </div>
            </div>
            <div *ngIf="hasNewAvatar">
              <div (click)="takePhoto()">
                <img src="{{base64Images[0]}}" alt="" class="img"
                  onError="this.src='../../assets/imgs/imagenotavailable.png';">
              </div>
            </div>
          </div>
        </div>
        <!-- <p class="alertUpdate">{{ALERTUPDATE}}</p> -->
      </div>
    </div>
  </div>
</ion-content>